.App {
    text-align: center;
    background-color: aquamarine;
    height: 800px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 10px auto;
    background-color: aqua;
    height: 30%;
}

form input {
    margin: 10px 0;
}

.card {
    border: 1px solid black;
}

button {
    padding: 5px;
    margin: 10px 10px 10px 10px;
}